<template>
 <div>
  <div class="tabs is-toggle is-fullwidth">
  <ul>
    <li v-for="item in manageOrders" @click="tabClick(item)" 
      v-bind:class="{ 'active':  item.toLowerCase()  === currentActiveItem.toLowerCase() }">
      <a>
        <span class="is-small"></span>
        <span>{{item}}</span>
      </a>
    </li>
  </ul>
</div>
<div class="columns">
    <section class="section is-fullwidth">
      <vue-good-table
        :columns="getColumns"
        :onClick="orderRowClick"
        :globalSearchPlaceholder="currentSearchFn" 
        :globalSearch="true"
        :rows="rows"
        :perPage="perpage"
        :paginate="true"
        :lineNumbers="false"
        styleClass="table table-stripped table-bordered condensed">
      </vue-good-table>
    </section> 
  </div>
 </div>
</template>

<script>
import columnData from './manageOrdercolumns.json'
import axios from 'axios'

export default {
  name: 'manageorders',
  components: { },
  data () {
    return {
      msg: 'Hare Krishna Hare Rama',
      manageOrders: ['Draft', 'Open', 'Pickup', 'Delivery', 'Billed'],
      currentActiveItem: 'Draft',
      perpage: 5,
      rows: []
    }
  },
  created () {
    axios.get(`http://jsonplaceholder.typicode.com/posts`)
    .then(response => {
      // JSON responses are automatically parsed.
      this.rows = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  },
  computed: {
    currentSearchFn: function () {
      return 'Search ' + this.currentActiveItem + ' Orders'
    },
    currentTitleFn: function () {
      return this.currentActiveItem + ' Orders'
    },
    getColumns: function () {
      return columnData[this.currentActiveItem.toLowerCase()]
    }
  },
  methods: {
    tabClick: function (item) {
      this.currentActiveItem = item
    },
    orderRowClick: function (row, index) {
      let userId = 'ORD121413123123'
      this.$router.push({ path: `/orderstatus/${userId}` })
      // this.$router.push({name: 'OrderStatus', params: { userId: 123 }})
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h2 {
    background-color: whitesmoke;
    color: #363636;
    border-radius: 3px;
}
.tabs.is-toggle li.is-active a, .active {
    background-color: #ffdd57;
    border-color: #ffdd57;
    color: rgba(0,0,0,.7);
}

.section {
  width: 100%;
  padding: 0.8em;
}

</style>
