<template>
 
  <div class="card">
    <footer class="card-footer">
      <p class="card-footer-item">
          <span class="tag is-warning is-half"><i class="fa fa-usd" aria-hidden="true"></i>Package & Services</span>
      </p>
      <p class="card-footer-item">
          <span class="tag is-warning is-half"><i class="fa fa-truck" aria-hidden="true"></i>Transport and Mode</span>
      </p>
    </footer>
    <div class="card-content">
        <Services></Services>
    </div>
  </div>
 
</template>

<script>
import Services from './services'
export default {
  name: 'package',
  components: { Services },
  data () {
    return {
      msg: 'Hare Krishna Hare Rama'
    }
  },
  created () {
    console.log('package :: component')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  .card {
    .card-footer-item {
      cursor: pointer;
      display: flex;
      justify-content: space-around;
    }
    .card-footer {
      border-bottom: 1px solid #dbdbdb;
    }
    .fa-address-book, .fa-usd, .fa-truck {
      font-size: 16px;
      margin-right: 6px;
    }
  }

</style>
