<template>

<div class="columns">
  <div class="column entrysection is-half">
      
    <div class="field package" v-for="item in packageAvailable">
        <label class="label caption">
            <span> {{item.name}} </span> 
            <span class="tag is-light">{{item.desc}}</span>
        </label>
      <div class="field-body">
        <div class="field">
          <p class="control is-small has-icons-left">
            <input class="input" type="text" placeholder="Qty">
            <span class="icon is-small is-left">
              <i class="fa fa-info"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control is-expanded has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Weight (lbs)">
            <span class="icon is-small is-left">
              <i class="fa fa-cubes"></i>
            </span>
          </p>
        </div>
        
      </div>
    </div>

  </div>
  <div class="column service is-half">
    <div class="items" ref="serviceitem" v-for="(item, index) in serviceAvailable" @click="clickItems(item, index)">
      <div class="columns">
        <div class="column is-half"><span class="tag is-light"> {{item.name}} </span></div>
        <div class="column"><span class="amt"><i class="fa fa-usd" aria-hidden="true"></i> {{item.amt}}</span></div>
        <div class="column"><i ref="circle" class="fa fa-circle-o" aria-hidden="true"></i></div>
      </div>
    </div>
  </div>
</div>

</template>

<script>
import packageAvailable from './packageAvailable.json'
export default {
  name: 'services',
  components: { },
  data () {
    return {
      msg: 'Hare Krishna Hare Rama',
      packageAvailable: [],
      serviceAvailable: [],
      selectedItem: ''
    }
  },
  methods: {
    clickItems: function (item, index) {
      this.$refs.circle.map(function (items) {
        items.classList.remove('fa-circle')
        items.classList.add('fa-circle-o')
      })
      this.$refs.circle[index].classList.remove('fa-circle-o')
      this.$refs.circle[index].classList.add('fa-circle')
      this.selectedItem = index
    }
  },
  created () {
    this.packageAvailable = packageAvailable.package
    this.serviceAvailable = packageAvailable.services
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  
  .package {
    .caption {
      :first-child {
        min-width: 13vh;
        width: 13vh;
        display: inline-block;
      }
    }
    .sub-title {
      margin-bottom: 5px;
    }
    label {
      font-size: 13px;
    }
    .field {
      .tag {
        min-width: 20vh;
        width: 20vh;
      }
    }
  }

  .service {
    padding-top: 0px;
    .fa-circle {
      color: #23d160;
    }
    .items {
      padding: 10px 8px;
      cursor: pointer;
      margin-bottom: 6px; 
      position: relative;
      border: 1px solid transparent;
      .columns {
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse; 

        .column:nth-child(1) {
          text-align: right;
        }
      }

      &:hover {
        background: whitesmoke;
        border-radius: 2px;
      }
    }
  }
  
  .entrysection{
    border-right: 2px solid whitesmoke;
    margin-right: 14px;
  }

  .entrysection:last-child {
    margin-right: 0px;
    border-right: none;
  }

  .control {
    input {
      font-size: 14px;
    }
  }
</style>
