<template>
 <div>
  <iframe id="myframe" :src="getSource()"></iframe>
 </div>
</template>

<script>
import Jspdf from 'jspdf'

export default {
  name: 'invoice',
  components: { },
  data () {
    return {
      msg: 'Hare Krishna Hare Rama'
    }
  },
  methods: {
    getContent: function () {
      var doc = new Jspdf()
      doc.setProperties({
        title: '1Courier',
        subject: 'This is the subject',
        author: '1Courier'
      })
      doc.text(20, 20, '1Courier')
      doc.text(20, 30, 'Invoice from 1Courier')
      doc.addPage()
      doc.text(20, 20, 'Do you like that?')
      return doc
    },
    getSource: function () {
      // https://mrrio.github.io/
      // pdf.addImage(agency_logo.src, 'PNG', logo_sizes.centered_x, _y, logo_sizes.w, logo_sizes.h);
      // https://parall.ax/products/jspdf/doc/symbols/jspdf.html#.API
      // https://www.sitepoint.com/generating-pdfs-from-web-pages-on-the-fly-with-jspdf/
      let generatePDF = this.getContent()
      return generatePDF.output('datauristring')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
iframe {
  width: 100%;
  height: 90vh;
}
</style>
