<template>
  <div class="card">

    <div class="card-content">
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Company Name</label>
            <div class="control">

              <input class="input" type="text" placeholder="Enter Company Name">
            </div>
            <p class="help is-success"></p>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Street No & Name</label>
            <div class="control">

              <input class="input" type="text" placeholder="Enter Street No & Name">
            </div>
            <p class="help is-success"></p>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">City</label>
            <div class="control">

              <input class="input" type="text" placeholder="Enter City">
            </div>
            <p class="help is-success"></p>
          </div>
        </div>
      </div>

      <div class="columns">

        <div class="column">
          <div class="field">
            <label class="label">Province</label>
            <div class="control">

              <input class="input" type="text" placeholder="Enter Province">
            </div>
            <p class="help is-success"></p>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Postal Code</label>
            <div class="control">

              <input class="input" type="text" placeholder="Enter Postal Code">
            </div>
            <p class="help is-success"></p>
          </div>
        </div>

      </div>

    </div>
    <footer class="card-footer">
      <p class="card-footer-item" v-on:click="updateAddress">
        <span>{{changeText}}</span>
      </p>
      <p class="card-footer-item" v-on:click="closeEditAddress1">
        <span>Close</span>
      </p>
    </footer>
  </div>
</template>

<script>
  
  export default {
    name: 'addaddress',
    components: { },
    props: ['openFor'],
    created () {
      // alert(this.openFor.value)
    },
    computed: {
      changeText: function () {
        return (this.openFor.section === 'Add') ? 'Create' : 'Update'
      }
    },
    methods: {
      closeEditAddress1: function () {
        if (this.openFor.section === 'Add') {
          this.$modal.hide('addaddress')
        } else {
          this.$emit('update', false)
          // this.$parent.$options.computed.closeEditAddress(false)
        }
      },
      updateAddress: function () {
        alert(this.openFor.section)
      }
    },
    data () {
      return {
        showEditAddress: true,
        msg: 'Hare Krishna Hare Rama',
        openForVal: ''
      }
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss"  scoped>

.card-footer-item {
    cursor: pointer; 
    
    &:hover {
       background-color: #ffdd57;
       color: rgba(0, 0, 0, 0.7);
    }
  }
  .label, .control input {
    font-size: 14px;
  }
</style>
