<template>
 <div>
  <div class="columns">
      <div class="column is-fullhd">
          <div class="columns">
              <div class="column">
                  <vue-good-table
                  :title="getTitle"
                  :globalSearchPlaceholder="getPlaceHolder"
                  :columns="columns"
                  :onClick="addressRowClick"
                  :globalSearch="true"
                  :rows="rows"
                  :perPage="5"
                  :paginate="true"
                  :lineNumbers="false"
                  styleClass="table table-stripped table-bordered condensed">
                  <div slot="emptystate">
                    This will show up when there are no columns
                  </div>
                </vue-good-table>
              </div>
          </div>
      </div>
      <div class="column addentry is-one-third" @update="closeEditAddress">
        <AddAddress :openFor="openFor"></AddAddress>
      </div>
  </div>
 </div>
</template>

<script>
import AddAddress from './AddAddress'
export default {
  name: 'addressbook',
  components: { AddAddress },
  props: ['openFor'],
  created () {},
  computed: {
    getTitle: function () {
      return (this.openFor.value === 'P') ? 'Address - PICKUP' : 'Address - DELIVERY'
    },
    getPlaceHolder: function () {
      return (this.openFor.value === 'P') ? 'Search Pickup Address' : 'Search Delivery Address'
    }
  },
  data () {
    return {
      showEditAddress: false,
      msg: 'Hare Krishna Hare Rama',
      columns: [
        {
          label: 'Name',
          field: 'name',
          filterable: true
        },
        {
          label: 'Age',
          field: 'age',
          type: 'number',
          html: false,
          filterable: true
        },
        {
          label: 'Created On',
          field: 'createdAt',
          type: 'date',
          inputFormat: 'YYYYMMDD',
          outputFormat: 'MMM Do YY'
        },
        {
          label: 'Percent',
          field: 'score',
          type: 'percentage',
          html: false
        },
        {
          label: 'Score1',
          field: 'score1',
          type: 'percentage',
          html: false
        },
        {
          label: 'Action',
          field: 'button',
          html: true,
          filterable: false,
          width: '120px'
        }
      ],
      rows: [
        {id: 1, name: 'John', age: 20, createdAt: '201-10-31:9:35 am', score1: 0.5, score: 0.03343, button: '<span class="editrow tag is-warning">Edit</span> <span class="deleterow tag is-danger">Delete</span>'},
        {id: 2, name: 'Jane', age: 24, createdAt: '2011-10-31', score: 0.03343, button: '<span class="editrow tag is-warning">Edit</span> <span class="deleterow tag is-danger">Delete</span>'},
        {id: 3, name: 'Susan', age: 16, createdAt: '2011-10-30', score: 0.03343, button: '<span class="editrow tag is-warning">Edit</span> <span class="deleterow tag is-danger">Delete</span>'},
        {id: 4, name: 'Chris', age: 55, createdAt: '2011-10-11', score: 0.03343, button: '<span class="editrow tag is-warning">Edit</span> <span class="deleterow tag is-danger">Delete</span>'},
        {id: 5, name: 'Dan', age: 40, createdAt: '2011-10-21', score: 0.03343, button: '<span class="editrow tag is-warning">Edit</span> <span class="deleterow tag is-danger">Delete</span>'},
        {id: 6, name: 'John', age: 20, createdAt: '2011-10-31', score: 0.03343, button: '<span class="editrow tag is-warning">Edit</span> <span class="deleterow tag is-danger">Delete</span>'},
        {id: 7, name: 'Jane', age: 24, createdAt: '20111031', button: '<span class="editrow tag is-warning">Edit</span> <span class="deleterow tag is-danger">Delete</span>'},
        {id: 8, name: 'Susan', age: 16, createdAt: '2013-10-31', score: 0.03343, button: '<span class="editrow tag is-warning">Edit</span> <span class="deleterow tag is-danger">Delete</span>'},
        {id: 9, name: 'Chris', age: 55, createdAt: '2012-10-31', score: 0.03343, button: '<span class="editrow tag is-warning">Edit</span> <span class="deleterow tag is-danger">Delete</span>'},
        {id: 10, name: 'Dan', age: 40, createdAt: '2011-10-31', score: 0.03343, button: '<span class="editrow tag is-warning">Edit</span> <span class="deleterow tag is-danger">Delete</span>'},
        {id: 11, name: 'John', age: 20, createdAt: '2011-10-31', score: 0.03343, button: '<span class="editrow tag is-warning">Edit</span> <span class="deleterow tag is-danger">Delete</span>'},
        {id: 12, name: 'Jane', age: 24, createdAt: '2011-07-31', score: 0.03343, button: '<span class="editrow tag is-warning">Edit</span> <span class="deleterow tag is-danger">Delete</span>'},
        {id: 13, name: 'Susan', age: 16, createdAt: '2017-02-28', score: 0.03343, button: '<span class="editrow tag is-warning">Edit</span> <span class="deleterow tag is-danger">Delete</span>'},
        {id: 14, name: 'Chris', age: 55, createdAt: '', score: 0.03343, button: '<span class="editrow tag is-warning">Edit</span> <span class="deleterow tag is-danger">Delete</span>'},
        {id: 15, name: 'Dan', age: 40, createdAt: '2011-10-31', score: 0.03343, button: '<span class="editrow tag is-warning">Edit</span> <span class="deleterow tag is-danger">Delete</span>'},
        {id: 19, name: 'Chris', age: 55, createdAt: '2011-10-31', score: 0.03343, button: '<span class="editrow tag is-warning">Edit</span> <span class="deleterow tag is-danger">Delete</span>'},
        {id: 20, name: 'Dan', age: 40, createdAt: '2011-10-31', score: 0.03343, button: '<span class="editrow tag is-warning">Edit</span> <span class="deleterow tag is-danger">Delete</span>'}
      ]
    }
  },
  methods: {
    addressRowClick: function (row, index) {
      switch (event.target.className.split(' ')[0]) {
        case 'editrow':
          this.closeEditAddress(true)
          this.editRow(row, index)
          break
        case 'deleterow':
          this.deleteRow(row, index)
          break
        default:
          break
      }
    },
    closeEditAddress: function (value) {
      return value
    },
    editRow: function (row, index) {
      console.log(row)
      console.log(index)
    },
    deleteRow: function (row, index) {
      console.log(row)
      console.log(index)
      this.$modal.show('dialog', {
        title: 'Delete Address!',
        text: 'Are you sure ?',
        buttons: [
          { title: 'Yes', handler: () => { console.log('Deleted!'); this.$modal.hide('dialog') } },
          { title: 'Close' }
        ]
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  .addentry {
    margin-top: 50px;

    .tag {
      width: 100%;
    }
  }
  
</style>
