<template>

  <div class="card">
    <footer class="card-footer">
      <p class="card-footer-item">
          <span class="tag is-warning is-half" v-on:click="openAddressBook('P', 'Book')"><i class="fa fa-address-book" aria-hidden="true"></i>Pickup Address Book</span>
          <span class="tag is-info is-half" v-on:click="openAddressBook('P', 'Add')">Add Address</span>
      </p>
      <p class="card-footer-item">
          <span class="tag is-warning is-half" v-on:click="openAddressBook('D', 'Book')"><i class="fa fa-address-book" aria-hidden="true"></i>Delivery Address Book</span>
          <span class="tag is-info is-half" v-on:click="openAddressBook('D', 'Add')">Add Address</span>
      </p>
    </footer>
    <div class="card-content">
      <div class="columns">
        <AddressEntry></AddressEntry>
        <AddressEntry></AddressEntry>
      </div>
    </div>
    
  </div>

</template>

<script>
  import AddressEntry from './AddressEntry'
  
  export default {
    name: 'addresssection',
    components: { AddressEntry },
    data () {
      return {
        msg: 'Hare Krishna Hare Rama'
      }
    },
    methods: {
      openDialog: function (event) {
        // `this` inside methods point to the Vue instance
        this.$modal.show('dialog', {
          title: 'Alert!',
          text: 'You are too awesome',
          buttons: [
            { title: 'Deal with it', handler: () => { alert('Woot!') } },
            { title: 'Close' }
          ]
        })
      },
      openAddressBook: function (value, section) {
        let openSection = (section === 'Add') ? 'addaddress' : 'address'
        this.$modal.show(openSection, { modalFor: {'value': value, 'section': section} })
      }
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  .card {
    .card-footer-item {
      cursor: pointer;
      display: flex;
      justify-content: space-around;
    }
    .card-footer {
      border-bottom: 1px solid #dbdbdb;
    }
    .fa-address-book {
      font-size: 16px;
      margin-right: 6px;
    }
  }

</style>
