<template>
  <div class="column entrysection">

    <div class="columns">

      <div class="column">
        <div class="field">
          <label class="label">Street No & Name</label>
          <div class="control">

            <input class="input" type="text" placeholder="Text input">
          </div>
          <p class="help is-success"></p>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label"> Company Name </label>
          <div class="control">

            <input class="input" type="text" placeholder="Text input">
          </div>
          <p class="help is-success"></p>
        </div>
      </div>

    </div>

    <div class="columns">
      
      <div class="column">
        <div class="field">
          <label class="label">City</label>
          <div class="control">

            <input class="input" type="text" placeholder="Text input">
          </div>
          <p class="help is-success"></p>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Province</label>
          <div class="control">

            <input class="input" type="text" placeholder="Text input">
          </div>
          <p class="help is-success"></p>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Postal Code</label>
          <div class="control">

            <input class="input" type="text" placeholder="Text input">
          </div>
          <p class="help is-success"></p>
        </div>
      </div>

    </div>

    <div class="columns">
      
      <div class="column">
        <div class="field">
          <label class="label">Contact Name</label>
          <div class="control">

            <input class="input" type="text" placeholder="Text input">
          </div>
          <p class="help is-success"></p>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Contact Phone</label>
          <div class="control">

            <input class="input" type="text" placeholder="Text input">
          </div>
          <p class="help is-success"></p>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Contact Email</label>
          <div class="control">

            <input class="input" type="text" placeholder="Text input">
          </div>
          <p class="help is-success"></p>
        </div>
      </div>

    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Location & Notes</label>
          <div class="control">

            <input class="input" type="text" placeholder="Text input">
          </div>
          <p class="help is-success"></p>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  
  export default {
    name: 'addressentry',
    components: { },
    data () {
      return {
        msg: 'Hare Krishna Hare Rama'
      }
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.entrysection{
    background: whitesmoke;  
    margin-right: 14px;
}

.entrysection:last-child {
  margin-right: 0px;
}
.label, .control input {
    font-size: 14px;
}

</style>
