<template>
 <div>
  Test
 </div>
</template>

<script>

export default {
  name: 'dashboard',
  components: { },
  data () {
    return {
      msg: 'Hare Krishna Hare Rama'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
