<template>
 <div>
  <Navbar></Navbar>
    <br>
    <div class="columns">
       <Sidebar></Sidebar>
       <div class="column is-10">
         <router-view></router-view>
       </div>
    </div>
    <Modals></Modals>
 </div>
</template>

<script>
import Modals from '@/components/Modals'
import Navbar from '@/components/Navbar'
import Sidebar from '@/components/Sidebar'
export default {
  name: 'dashboard',
  components: { Modals, Navbar, Sidebar },
  data () {
    return {
      msg: 'Hare Krishna Hare Rama'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
