<template>
 <div>
  <modal name="address"  width="85%" height="auto" v-bind:pivotY="0.2" @before-open="addressBeforeOpen">
      <section class="section address">
      <div class="is-pulled-right closebutton">
          <a class="delete is-medium" @click="$modal.hide('address')"></a>
      </div>
      <AddressBook :openFor="openForVal"></AddressBook>
      </section>
   </modal>

   <modal name="addaddress"  width="35%" height="auto" v-bind:pivotY="0.2" @before-open="addressBeforeOpen">
      <section class="section address" v-bind:class="nopadding">
        <AddAddress :openFor="openForVal"></AddAddress>
      </section>
   </modal>

   <modal name="editorders" :reset="true" width="90%" height="95%" @before-open="toggleBodyScroll('hidden')" @before-close="editOrderModalClose('auto')">
      <section class="section address">
      <div class="is-pulled-right closebutton">
          <a class="delete is-medium" @click="$modal.hide('editorders')"></a>
      </div>
      <CreateOrder></CreateOrder>
      </section>
   </modal>

   <modal name="invoice"  width="80%" height="95%" v-bind:pivotY="0.2" @before-open="toggleBodyScroll('hidden')" @before-close="editOrderModalClose('auto')">
      <section class="section address" v-bind:class="nopadding">
        <Invoice></Invoice>
      </section>
   </modal>

   <v-dialog/>
 </div>
</template>

<script>
import CreateOrder from '../components/CreateOrder/CreateOrder'
import AddressBook from '../components/addressSection/AddressBook'
import AddAddress from '../components/addressSection/AddAddress'
import Invoice from '../components/Invoice/Invoice'
export default {
  name: 'modalTemplate',
  components: { AddressBook, AddAddress, CreateOrder, Invoice },
  computed: {
    getOpenForVal: function () {
      return this.openForVal
    },
    nopadding: function () {
      return (this.openForVal.section === 'Add') ? 'nopadding' : ''
    }
  },
  data () {
    return {
      msg: 'Hare Krishna Hare Rama',
      openForVal: ''
    }
  },
  methods: {
    toggleBodyScroll: function (value) {
      document.querySelector('html').style.overflow = value
    },
    editOrderModalClose: function (value) {
      this.$store.state.editOrder = false
      this.toggleBodyScroll('auto')
    },
    addressBeforeOpen: function (event) {
      this.openForVal = event.params.modalFor
    }
  }
}
</script>
<style>
.v--modal-box.v--modal {
  overflow: scroll;
}
</style>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    .closebutton {
        position: absolute;
        top: 10px;
        right: 10px;
        .delete {
            background-color: #363636;
        }
    }
    section.address {
        padding-top: 15px;
        padding-bottom: 10px;
    }
    th {
        text-align: center;
    }
    .hidden {
      display: none;
    }
    .nopadding {
      padding: 0px !important;
    }
    
</style>
