<template>
  <nav class="navbar has-shadow">
    	<div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/static/1courier_icon.jpeg" alt="1Courier - App" >
      <span class="brand">Courier</span>
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-github"></i>
      </span>
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
      <span class="icon" style="color: #55acee;">
        <i class="fa fa-twitter"></i>
      </span>
    </a>

    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  	<div id="navMenubd-example" class="navbar-menu">
  		<div class="navbar-start">
  			
  		</div>

  		<div class="navbar-end">
  		<span class="nav-item"> 

  			<div class="field has-addons">
			  <div class="control">
			    <input class="input" type="text" placeholder="Search Orders">
			  </div>
			  <div class="control">
			    <a class="button is-primary">
			      Search
			    </a>
			  </div>
			</div>

  		</span>
  		  <a class="navbar-item is-hidden-desktop-only" v-if="checkLogin" v-on:click="logout()">
	        <span class="icon" style="color: #333;">
	          <i class="fa fa-power-off" aria-hidden="true"></i>
	        </span>
      	</a>
  		</div>
  	</div>
    </nav>
</template>

<script>
export default {
  name: 'navbar',
  data () {
    return {
      msg: 'Hare Krishna Hare Rama'
    }
  },
  computed: {
    checkLogin () {
      return this.$store.state.isLoggedIn
    }
  },
  methods: {
    logout: function () {
      var app = this
      localStorage.removeItem('lbUser')
      app.$router.push({name: 'login'})
      app.$store.state.isLoggedIn = false
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.brand {
  margin-left: 5px;
  color: #7a7a7a;
  font-size: 22px;
}
 .navbar {
   margin: 1px 1px 0px -9px;
 }
</style>
