<template>
  <div class="column is-2">
    <aside class="menu">
      <p class="menu-label">Orders</p>
      <ul class="menu-list">
        <router-link to="/createorder">Create</router-link>
        <router-link to="/manageorders">Manage Orders</router-link>
      </ul>
      <p class="menu-label">Administration</p>
      <ul class="menu-list">
        <li><a>Team Settings</a></li>
        <li><a>Manage Your Team</a></li>
        <li><a>Invitations</a></li>
        <li><a>Cloud Storage</a></li>
        <li><a>Authentication</a></li>
      </ul>
      <p class="menu-label">Transactions</p>
      <ul class="menu-list">
        <li><a>Payments</a></li>
        <li><a>Transfers</a></li>
        <li><a>Balance</a></li>
      </ul>
    </aside>
  </div>
</template>

<script>
  export default {
    name: 'sidebar',
    data () {
      return {
        msg: 'Hare Krishna Hare Rama'
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.menu-list a:hover {
  background-color: #ffdd57;
}
.router-link-exact-active {
    background-color: #00d1b2;
    color: #fff;
}
.column.is-2 {
   background: whitesmoke;
 }
</style>
