<template>
 <div class="container is-fluid">
<br>
<div class="columns">
  <div class="column">
    <nav class="breadcrumb is-medium is-left has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li><router-link to="/manageorders">Manage Orders</router-link></li>
    <li class="is-active"><a href="#" aria-current="page">Order Status</a></li>
  </ul>
</nav>
  </div>
  <div class="column orderaction">
    <span class="tag is-warning is-pulled-right" @click="deleteOrder"> Delete </span>
    <span class="tag is-warning is-pulled-right" @click="editOrder"> Edit </span>
  </div>
</div>

  <div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child box">
          <header><span>Pickup Status</span></header>
          
          <!-- Put any content you want -->
          <section class="column hidden">
              37, 1st Cross Street1, Prakash Nagar, Ponniamman Medu, Chennai - 600 110, Tamil Nadu, India
          </section>
          <section class="column otherdetails">
              <div class="details"><span class="tag">Date / Time :</span> <span class="desc"> 00:00:00 00:00:00</span></div>
              <div class="details"><span class="tag">Signed By :</span> <span class="desc"> Hariram Nandagopal</span></div>
              <div class="details"><span class="tag">Photo Location :</span> <div class="desc location">37, 1st Cross Street, Prakash Nagar, <br>Ponniamman Medu, <br>Chennai - 600 110</div></div>
              <div class="details hidden"><span class="sign"><img src="https://www.placebear.com/400/150" /></span></div>
          </section>
        </article>
        <article class="tile is-child box">
          <div class="driverinfo">
            <div class="details"><span class="tag is-dark">Driver Current Location :</span> <div class="desc location">37, 1st Cross Street, Prakash Nagar, <br>Ponniamman Medu, <br>Chennai - 600 110</div></div>
            <br>
            <span class="tag is-dark"> Avg time to deliver the order : </span> <br> <br><span class="time">01:34 Mins</span>
          </div>
          <div class="finsihed hidden">
            <header><span>Delivery Status</span></header>
            
            <!-- Put any content you want -->
            <section class="column hidden">
                37, 1st Cross Street, Prakash Nagar, Ponniamman Medu, Chennai - 600 110, Tamil Nadu, India
            </section>
            <section class="column otherdetails">
                <div class="details"><span class="tag">Date / Time :</span> <span class="desc"> 00:00:00 00:00:00</span></div>
                <div class="details"><span class="tag">Signed By :</span> <span class="desc"> Hariram Nandagopal</span></div>
                <div class="details"><span class="tag">Photo Location :</span> <div class="desc location">37, 1st Cross Street, Prakash Nagar, <br>Ponniamman Medu, <br>Chennai - 600 110</div></div>
                <div class="details hidden"><span class="sign"><img src="https://www.placebear.com/400/150" /></span></div>
            </section>
          </div>
        </article>
      </div>
      
      <div class="tile is-parent">
        
        <article class="tile is-child box">
          <section class="driversection">
            <div class="driverheader"> Driver Information </div>
            <figure class="image is-128x128">
              <img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAzDAAAAJDIyZjg5ZTM1LTBmNzQtNGY2MC04ZDMzLWFjODZhMTRhMjAyYw.jpg" alt="Image">
            </figure>
            <div class="name">
              <span class="tag is-warning">Hariram Nandagopal</span>
            </div>
            <div class="map-container">
              <gmap-map
                :center="center"
                :zoom="8"
                style="width: 350px; height: 350px">
                <gmap-marker
                  :key="index"
                  v-for="(m, index) in markers"
                  :position="m.position"
                  :clickable="true"
                  :draggable="true"
                  @click="center=m.position"
                ></gmap-marker>
              </gmap-map>
            </div>
          </section>
        </article>
      </div>
    </div>
    <div class="tile is-parent hidden">
      <article class="tile is-child box">
        <!-- Put any content you want -->d
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box orderdetailsection">
      <span class="tag is-info orderid">ORD12343434343434</span>
      <section>
        <table class="table is-striped is-fullwidth">
          <thead>
            <tr>
              <th>STATUS</th>
              <th><span class="tag is-success">PICKED</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Pickup</td>
              <td class="add">37, 1st Cross Street, Prakash Nagar, Ponniamman Medu, Chennai - 600 110</td>
            </tr>
            <tr>
              <td>Delivery</td>
              <td class="add">37, 1st Cross Street, Prakash Nagar, Ponniamman Medu, Chennai - 600 110</td>
            </tr>
            <tr>
              <td>Name</td>
              <td>1Courier Inc</td>
            </tr>
            <tr>
              <td>Comp #</td>
              <td>DDCUR2</td>
            </tr>
            <tr>
              <td>Telephone</td>
              <td>6473093678</td>
            </tr>
            <tr>
              <td>Service</td>
              <td>ND 5PM</td>
            </tr>
            <tr>
              <td>Vehicle</td>
              <td>Car</td>
            </tr>
            <tr>
              <td>Pieces</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Weight</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </section>
    </article>
  </div>
</div>
  
</div>
</template>

<script>
/*
Just created - is-info
Picked - is-primary
delivery - is-success
*/
export default {
  name: 'orderstatus',
  components: { },
  data () {
    return {
      msg: 'Hare Krishna Hare Rama',
      center: {lat: 10.0, lng: 10.0},
      markers: [{
        position: {lat: 10.0, lng: 10.0}
      }, {
        position: {lat: 11.0, lng: 11.0}
      }]
    }
  },
  methods: {
    editOrder: function () {
      this.$store.state.editOrder = true
      this.$modal.show('editorders')
    },
    deleteOrder: function () {
      this.$modal.show('invoice')
    }
  },
  created () {
    console.log(this.$route.params)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.orderaction {
  .tag {
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      background-color: #f5f5f5;
    }
  }
  .tag:last-child {
    margin-right: 15px;
  }
}
tbody tr td:nth-child(1), thead tr th:nth-child(1) {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}
tr td:nth-child(2) {
  font-size: 14px;
}
.driverinfo {
  .desc {
    margin-top: 20px;
    font-size: 15px;
    text-transform: uppercase;
  }
  .time {
    font-size: 35px;
  }
}
.orderdetailsection {
  .orderid {
    font-size: 20px;
  }
  section {
    margin-top: 20px;
  }
  .table {
    width: 40vh;
    border-radius: 10px;
    height: 100%;

    tbody {
      tr {
        padding: 10px;
      }
    }
  }
}
.map-container {
    margin-top: 30px;
  }
.hidden {
  display: none;
}
header {
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 2px solid #f5f5f5;
  font-size: 12px;
  margin-top: -10px;
  font-weight: 700;
}
.orderdetailsection {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.driversection {
  display: flex;
  align-items: center;
  flex-direction: column;
  .driverheader {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
  }
  .name .tag {
    margin-top: 20px;
    font-size: 15px;
    text-transform: uppercase;
  }
}
.image {
  img{
    border-radius: 18vh;
  }
}

.otherdetails {
    
    text-transform: uppercase;
    font-size: 12px;
    padding: 14px 0px 0px 0px;

    .details {
      margin-bottom: 10px;
    }
    .tag {
      margin-bottom: 10px;
      min-width: 17vh;
    }
    .desc {
      margin-bottom: 10px;  
      margin-left: 10px; 
    }
    .location {
      margin-top: 10px;  
    }
}
</style>
