<template>
  <div id="app1">
     <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
  components: { }
}
</script>

<style>
.hidden {
  display: none;
}
.container {
  margin-left: 14px !important;
  margin-right: 14px !important;
}
.tablesearch {
  width: 100% !important;
  margin-bottom: 10px;
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
  border: none;
  text-transform: uppercase;
}
.tablesearch:focus {
  outline: none;
}
</style>
