<template>
<div>
  <section>

    <div class="columns">

      <div class="column" v-for="item in items">
        
        <div class="field">
          <label class="label">{{item.name}}</label>
          <div class="control">
            <v-select 
              v-if="item.type === 'auto'"
              :debounce="250"
              :on-search="getOptions"
              placeholder="Search Clients"
              v-model="selected" 
              label="full_name"
              :options="options">
            </v-select>
            <input v-if="item.type === 'input'" class="input" type="text" placeholder="Text input">
          </div>
          <p class="help is-success"></p>
        </div>

      </div>

    </div>

  </section>
  <br>
  <section>
      <AddressSection></AddressSection>
  </section>
  <br>
  <section>
      <Package></Package>
  </section>
  <section>
    <footer class="footer">
    <div class="field is-grouped is-grouped-right">
      <p class="control">
        <a class="button is-primary" :disabled="isDisabled" v-if="!checkOrderMode">
          Create Order
        </a>
        <a class="button is-primary" v-if="checkOrderMode">
          Edit Order
        </a>
      </p>
      <p class="control" v-if="!checkOrderMode">
        <a class="button is-light">
          Cancel
        </a>
      </p>
    </div>
    </footer>
  </section>
</div>
  
</template>

<script>
  
  import AddressSection from '../AddressSection/Address'
  import Package from '../PackageSelection/package'
  import axios from 'axios'

  export default {
    name: 'createorder',
    components: {
      AddressSection,
      Package
    },
    computed: {
      isDisabled: function () {
        return false
      },
      checkOrderMode () {
        return this.$store.state.editOrder
      }
    },
    data () {
      return {
        msg: 'Hare Krishna Hare Rama',
        selected: null,
        options: [],
        items: [
          { name: 'Company Name', type: 'auto' },
          { name: 'Phone Number', type: 'input' },
          { name: 'Email', type: 'input' },
          { name: 'Phone', type: 'input' }
        ]
      }
    },
    methods: {
      getOptions (search, loading) {
        loading(true)
        axios.get('https://api.github.com/search/repositories', {
          params: {
            q: search
          }
        }).then(resp => {
          this.options = resp.data.items
          loading(false)
        })
      }
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .dropdown-toggle {
      width: 270px !important;
      max-height: 36px;
  }
</style>

<style scoped>
.label, .control input {
    font-size: 14px;
}
.footer {
  padding: 10px;
}
</style>
